
.topnav {
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;
}

.logo {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}


.user-info {
    display: flex;
    align-items: center;
  
}

.user-avatar {
    width: 40px; /* Adjust the avatar size as needed */
    height: 40px; /* Adjust the avatar size as needed */
    border-radius: 50%;
    margin-right: 10px; /* Add margin to separate the avatar from the button */
}

.profile-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.profile-content {
    display: none;
    position: absolute;
    background: #333;
    min-width: 160px;
    right: 10px; /* Adjust the position from the right edge */
    top: 40px; /* Position the dropdown below the button */
    z-index: 1;
}

.profile-content a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 15px;
}

.profile-button:focus + .profile-content,
.profile-content:hover {
    display: block;
}

.sidenav {
    background: #333;
    color: #fff;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s;
    overflow-y: auto;
    z-index: 1;
}

.side-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    padding: 10px;
    margin: 10px 0;
}

.side-menu a {
    text-decoration: none;
    color: #fff;
}

.content {
    margin-top: 60px;
    margin-left: 270px;
    /* padding: 20px; */
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.side-menu li.active a{
    color: #000; /* Black text for active items */

}
.active {
    background-color: #ffffff; /* Change to your desired active item background color */
}
.profile-image {
    width: 30px; /* Adjust the image size as needed */
    height: 30px; /* Adjust the image size as needed */
    border-radius: 50%;
    margin-right: 10px; /* Add margin to separate the image from the button */
}
a{
 text-decoration: none;
}
/* ... (other CSS rules above) ... */